#Ignore Mac system files
*.DS_store

#Ignore all files related to API keys
*.env

#Ignore all history
*.history

#Ignore all secret
secrets.toml

#Ignore pycache
__pycache__
*.pyc

#Ignore regist.py
regist.py